@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Lexend Deca", sans-serif;
}

.root {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

input:disabled,
button:disabled {
	background: #f2f2f2;
}
